# ignoring results directory
.DS_Store
.ipynb_checkpoints
dask-worker-space
/results/
/data
/GD-NR-DC2022a
/GD-SWOT-DC2022a
/dask-worker-space 
notebooks/dask-worker-space
notebooks/GD-NR-DC2022a
notebooks/GD-SWOT-DC2022a
dev
__MACOSX/
